* {
    box-sizing: border-box;
}

.container,
.overlay,
#mainForm>div,
.footer {
    display: flex;
    flex-direction: row;
}

.heading-container,
.content,
#mainForm,
#mainForm>div>div,
body,
.banner,
.heroDiv,
.cta {
    display: flex;
    flex-direction: column;
}

body,
html,
p {
    margin: 0;
    padding: 0
}

body {
    min-height: 100vh;
    justify-content: space-between;
}

.container,
.banner,
.content {
    flex: 1
}

.banner {
    position: relative;
    align-items: center;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: left bottom;
}

.overlay {
    position: absolute;
    height: 8rem;
    top: 15%;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.2);
}

.content {
    padding: 2rem 10% 2rem 2rem;
    min-width: 60%;
    background: linear-gradient(to right, #f0f0f0, #4190b4);
    color: rgba(0, 0, 0, 0.8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo-image {
    height: 100%
}

.heroDiv,
.cta {
    height: 35%
}

.heading-container {
    justify-content: center;
}

.heading-container h1 {
    margin: 0;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

#mainForm div {
    flex: 1
}

#mainForm {
    gap: 1rem;
}

#mainForm>div {
    gap: 3rem
}

#mainForm label {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
}

#mainForm input {
    width: 15rem;
    font-size: 1rem;
    padding: 2px 10px;
    color: rgba(1, 1, 1, 0.6);
    outline: none;
    border: none
}

#mainForm input:valid {
    background-color: rgb(211, 228, 211);
}

#mainForm input:invalid {
    background-color: rgb(253, 191, 191);
}

#mainForm input:hover {
    background-color: #f0f0f0;
}

#mainForm input:focus-visible {
    box-shadow: 2px 2px 5px grey;
}

.hero-text {
    font-size: 1.5rem;
}

.heroDiv {
    justify-content: end;
    padding-bottom: 4rem;
}

.cta {
    justify-content: start;
    align-items: start;
    padding-top: 1rem;
    padding-left: 1rem;
    gap: 1rem
}

.cta-text {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgb(121, 188, 246);
    padding: 0.5rem;
    color: rgb(4, 18, 31);
    font-weight: 600;
    align-items: center;
}

.form-title {
    font-size: 1.5rem;
}

.form-box {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-right: none;
}

.submitBtn {
    background-color: #586d77;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 2rem;
    border: 2px solid rgb(138, 79, 79);
}

.submitBtn:hover {
    background-color: #38454b;
    box-shadow: 1px 1px 2px black;
}

.submitBtn:active {
    background-color: #000000;
}

.github-logo {
    border-radius: 50%;
    height: 30px;
}